<li id="<%= feed_item.id %>">
	<span class="user">
		<% if @user.avatar.url == nil %>
			<%= image_tag('/assets/coolguy.png', alt: "Image Error", class: "gravatar", size: "80x80") %>
		<% else %>
			<%= image_tag @user.avatar.url(:thumb), class: "thumb_nail" %>
		<% end %>
		<%= link_to feed_item.user.name, feed_item.user %>
	</span>
	<span class="content"><%= feed_item.content %></span>
	<span class="timestamp">
		Posted <%= time_ago_in_words(feed_item.created_at) %> ago.
	</span>
</li>