<% if signed_in? %>
	<div class="outtie">
    <div class="innie">
			<div class="row">
        <aside class="span5 offset1" id="shower">
					<section>
						<%= render 'shared/user_info' %>
					</section>
          <section>
            <%= render 'shared/stats' %>
          </section>
					<div class="bordes"></div>
						<%= render 'shared/micropost_form' %>
				</aside>
				<div class="span6">
        <% $law_query = "u" %>
          <% unless @user.biz_law == "lawyer" %>
            <% if @feed_items.any? %>
              <h3>Recent Patent Listings</h3>
              <ol class="users">
                <%= render partial: 'auctions/index' %> 
              </ol>
              <loading>
                <%= will_paginate(@auctions) %>
              </loading>
            <% else %>
              <br><br><br><br><br><br><h2>No recent patent listings for now...</h2>
            <% end %>
          <% else %>
            <ol class="microposts">
            <% $law_query = "l" %>
            <% #Put in job listings here %>
            </ol>
            <%= will_paginate(@feed_items) %>
          <% end %>
        </div>
			</div>
    </div>
  </div> 
<% else %>
	<div class="home-outer">
		<div class="innie">
			<div id="this-carousel-id" class="carousel slide">
			<ol class="carousel-indicators">
  			<li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
  			<li data-target="#this-carousel-id" data-slide-to="1"></li>
  			<li data-target="#this-carousel-id" data-slide-to="2"></li>
  			<li data-target="#this-carousel-id" data-slide-to="3"></li>
			</ol>
		  <div class="carousel-inner">
		    <div class="item active">
		      <img src="/assets/idea.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>Everyone has ideas...but not everyone knows how to protect or sell them and get a large profit.</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/office.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>Patentflip helps to bring multiple patent lawyers to you. Hire the one who fits your needs best.</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/308568_589522887735393_66814455_n.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>Get businesses looking at your patent for sale without taking hours to go out and find them yourself, without the need for a patent broker.</p>
		      </div>
		    </div>
		    <div class="item">
		      <img src="/assets/legal.jpg" alt="" />
		      <div class="carousel-caption">
		        <p>Patent Brokers charge anywhere from 25-50% fees. We have a flat 10% fee, no hidden charges. Welcome to Patentflip!</p>
		      </div>
		    </div>
		  </div>
	    <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
			</div>
		</div>
	</div> 
<%= render partial: 'image' %>
</br></br></br>

<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
    	interval: 8000
    });
  });
</script>
<% end %>