<% provide(:title, "#{@perms}") %>
  <div class="outtie">
    <div class="innie">
      <% if @perms == "PatentPending" %>
        <h1>Patent Pending</h1>
      <% else %>
        <h1><%= @perms %></h1>
      <% end %>
      <ul class="users">
        
          <% unless current_user.biz_law == "lawyer" %>
            <% @patcount = 0 %>
            <% @auctions.each do |auction| %>
              <% if auction.category == "#{@perms}" %>
              <li>
                <%= link_to( (image_tag auction.pic1.url(:tiny), class: "gravatar-pat-index"), auction_path(auction)) %>
                <%= link_to "#{auction.title}:", auction_path(auction), id: 'user_index', style: 'color: #000000'%></br>
                <%= truncate auction.descrip, length: 150 %></br></br>
              </li>
              <div class="userborder"></div>
              <% @patcount += 1 %>
              <% end %>
            <% end %>
            <% if @patcount == 0 %>
              <% if @perms == "PatentPending" %>
                <h3>No Patent Pending Listings Yet! </h3>
              <% else %>
                <h3>No <%= @perms %> Patents Listed Yet!</h3>
              <% end %>
            <% end %>
          <% else %>
          <% @counter = 0 %>
            <% @filings.each do |auction| %>
              <% if auction.job_category == "#{@perms}" %>
              <li>
                <%= link_to( (image_tag auction.picture.url(:mid), class: "gravatar-pat-index"), filing_path(auction)) %>
                <%= link_to "#{auction.filing_title}:", filing_path(auction), id: 'user_index', style: 'color: #000000'%></br>
                <%= truncate auction.job_descrip, length: 150 %></br></br>
              </li>
              <div class="userborder"></div>
              <% @counter += 1 %>
              <% end %>
            <% end %>

             <% if @counter == 0 %>
              <% if @perms == "PatentPending" %>
                <h3>No Patent Pending Jobs Yet! </h3>
              <% else %>
                <h3>No <%= @perms %> Jobs Posted Yet!</h3>
               <% end %>
            <% end %>
          <% end %>

       
      </ul>
      <loading>
        <%= will_paginate %>
      </loading>
    </div>
  </div>