<% provide(:title, 'All Patents') %>
  <div class="outtie">
    <div class="innie">
      <h1>All Patents</h1>

      <ul class="users">
        <% @auctions.each do |auction| %>
        <% @users.each do |user| %>
        <div class="userborder"></div>
          <li>
            <%= image_tag auction.pic1.url(:tiny), class: "gravatar" %>
            Listed By:<%= link_to user.name, user, id: 'user_index', style: 'color: #00cc00' %>
            <h3><%= link_to auction.title, user_auction_path(user, auction), style: 'color: #000000' %></h3></br>
            <%= auction.descrip[0..79] %>
          </li>
        <% end %>
        <% end %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>