<% provide(:title, 'All Patents') %>
  <div class="outtie">
    <div class="innie">
      <h1><%= @user.name %>'s Patents</h1>

      <ul class="users">
        <% @auctions.each do |auction| %>
          <% if auction.user_id == @user.id %>
            <div class="userborder"></div>
            <li>
              <%= @user.pat_selling += 1 %>
              <%= link_to(image_tag(auction.pic1.url(:tiny), class: "gravatar"), auction_path(auction)) %>
              Listed By:<%= link_to "#{@user.name}", @user, id: 'user_index', style: 'color: #00cc00' %>
              <h3><%= link_to "#{auction.title}", auction_path(auction), style: 'color: #000000' %></h3></br>
              <%= auction.descrip[0..79] %>
            </li>
          <% end %>
        <% end %>
        <%= @user.pat_selling %>
          <% if @user.pat_selling == 0 %>
            <h4>No Patents on the marketplace thus far, <%= @user.name %>
                <% if @user.sex == "male" %>
                  needs to step his
                <% elsif @user.sex == "female"%>
                  needs to step her
                <% else %>
                  needs to step their
                <% end %>
                game up!
            </h4>
          <% end %>
      </ul>

      <%= will_paginate %>
    </div>
  </div>