<div class="barney">
   <div class="trouble">
      <% if @auction.vid.url(:large) != "/vids/large/missing.png" %>
         <div class="flowplayer">
         <div class="span7 offset2">
   		    <video>
               <source type="video/flv" src="<%= @auction.vid.url(:large) %>">
             </video>
         </div>
         </div>
         <% end %>
      <% if @auction.pic1.url(:a) != "/pic1s/a/missing.png" %>
         <%= image_tag @auction.pic1.url(:a) %>
      <% end %>
      <% if @auction.pic2.url(:b) != "/pic2s/b/missing.png" %>
         <%= image_tag @auction.pic2.url(:b) %>
      <% end %>
      <% unless @auction.pic3.url(:c) == "/pic3s/c/missing.png" %>
         <%= image_tag @auction.pic3.url(:c) %>
      <% end %>
      <% if @auction.pic4.url(:d) != "/pic4s/d/missing.png" %>
         <%= image_tag @auction.pic4.url(:d) %>
      <% end %>
      <% if @auction.pic5.url(:e) != "/pic5s/e/missing.png" %>
         <%= image_tag @auction.pic5.url(:e) %>
      <% end %>
      </div>
	</div>
</div>


<!-- 1. jquery library -->
<script type="text/javascript"
   src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
</script>
 
<!-- 2. flowplayer -->
<script type="text/javascript"
   src="//releases.flowplayer.org/5.4.1/flowplayer.min.js">
</script>
 
<!-- 3. skin -->
<link rel="stylesheet" type="text/css"
   href="//releases.flowplayer.org/5.4.1/skin/minimalist.css">