<div class="barney">
   <div class="crumble">
      <% if @user == current_user %>
        <%= link_to "Edit Patent Listing", edit_user_auction_path(current_user) %>
      <% end %>
      <h2> <%=@auction.title%> </h2>
      <h4>Official Patent Number: &nbsp 
      <% if @auction.goog_url == true %>
         <a href="//www.google.com/patents/<%=@auction.pat_num%>"><%=@auction.pat_num%></a> 
      <% else %>
        <%= @auction.pat_num %>
      <% end %>
        </h4>
        <%= @auction.vid_url %>
        <% if @auction.vid.url(:large) != "" %>
          <div class="flowplayer">
            <video>
              <source type="video/flv" src="<%= @auction.vid.url(:large) %>">
            </video>
          </div>
        <% end %>
      
      <% if ((@auction.pic1.url(:a) == "/pic1s/a/missing.png") && (@auction.pic2.url(:a) == "/pic2s/a/missing.png") && (@auction.pic3.url(:a) == "/pic3s/a/missing.png") && (@auction.pic4.url(:a) == "/pic4s/a/missing.png") && (@auction.pic5.url(:a) == "/pic5s/a/missing.png")) %>
      <% else %>
        <div id="this-carousel-id" class="carousel slide">
          <ol class="carousel-indicators">
              <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
            <% if @auction.pic2.url(:a) != "/pic2s/a/missing.png" %>
              <li data-target="#this-carousel-id" data-slide-to="1"></li>
            <% end %>
            <% if @auction.pic3.url(:a) != "/pic3s/a/missing.png" %>
              <li data-target="#this-carousel-id" data-slide-to="2"></li>
            <% end %>
            <% if @auction.pic4.url(:a) != "/pic4s/a/missing.png" %>
              <li data-target="#this-carousel-id" data-slide-to="3"></li>
            <% end %>
            <% if @auction.pic5.url(:a) != "/pic5s/a/missing.png" %>
              <li data-target="#this-carousel-id" data-slide-to="4"></li>
            <% end %>
            </ol>
            <div class="carousel-inner">
                <div class="item active">
                  <img src="<%= @auction.pic1.url(:a) %>"/>
                  <div class="carousel-caption">
                    <% if defined?(@auction.pic_descr_1) %>
                    <p><%=@auction.pic_descr_1%></p>
                    <% else %>
                    <p>Picture #1</p>
                    <% end %>
                  </div>
                </div>
              <% if @auction.pic2.url(:a) != "/pic2s/a/missing.png" %>
                <div class="item">
                  <img src="<%= @auction.pic2.url(:a) %>"/>
                  <div class="carousel-caption">
                    <% if defined?(@auction.pic_descr_2) %>
                    <p><%=@auction.pic_descr_2%></p>
                    <% else %>
                    <p>Picture #2</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
              <% if @auction.pic3.url(:a) != "/pic3s/a/missing.png" %>
                <div class="item">
                  <img src="<%= @auction.pic3.url(:a) %>" alt="" />
                  <div class="carousel-caption">
                    <% if defined?(@auction.pic_descr_3) %>
                    <p><%=@auction.pic_descr_3%></p>
                    <% else %>
                    <p>Picture #3</p>
                    <% end %>
                  </div>
                </div>
              <% end %>  
              <% if @auction.pic4.url(:a) != "/pic4s/a/missing.png" %>
                <div class="item">
                  <img src="<%= @auction.pic4.url(:a) %>" alt="" />
                  <div class="carousel-caption">
                    <% if defined?(@auction.pic_descr_4) %>
                    <p><%=@auction.pic_descr_4%></p>
                    <% else %>
                    <p>Picture #4</p>
                    <% end %>
                  </div>
                </div>
              <% end %>  
              <% if @auction.pic5.url(:a) != "/pic5s/a/missing.png" %>
                <div class="item">
                  <img src="<%= @auction.pic5.url(:a) %>" alt="" />
                  <div class="carousel-caption">
                    <% if defined?(@auction.pic_descr_5) %>
                    <p><%=@auction.pic_descr_5%></p>
                    <% else %>
                    <p>Picture #5</p>
                    <% end %>
                  </div>
                </div>
              <% end %>
            </div>
          <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
        </div>
      <% end %>
      <h2><%=@auction.title%>'s official description:</h2></br>
      <h5> <%=@auction.pat_off_desc%> </h5></br>


      <h2>My comments about <%=@auction.title%>:</h2></br>
      <h5> <%=@auction.descrip%> </h5></br>
      
      
	</div>
</div>


<script type="text/javascript">
  $(document).ready(function() {
    $('.carousel').carousel({
      interval: 7000
    });
  });
</script>