<div class="barney">
	<div class="trouble">
		<div class="span7 offset2">
         <% if @auction.vid.url(:large) != "" %>
           <div class="flowplayer">
   		    <video>
               <source type="video/flv" src="<%= @auction.vid.url(:large) %>">
             </video>
           </div>
         <% end %>
   	</div>
         <%= image_tag @auction.pic1.url(:a) %>
         <%= image_tag @auction.pic2.url(:b) %>
      <% if @auction.pic3.url(:c) != "" %>
         <%= image_tag @auction.pic3.url(:c) %>
      <% end %>
      <% if @auction.pic4.url(:d) != "" %>
         <%= image_tag @auction.pic4.url(:d) %>
      <% end %>
      <% if @auction.pic5.url(:e) != "" %>
         <%= image_tag @auction.pic5.url(:e) %>
      <% end %>
      </div>
	</div>
</div>


<!-- 1. jquery library -->
<script type="text/javascript"
   src="http://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js">
</script>
 
<!-- 2. flowplayer -->
<script type="text/javascript"
   src="//releases.flowplayer.org/5.4.1/flowplayer.min.js">
</script>
 
<!-- 3. skin -->
<link rel="stylesheet" type="text/css"
   href="//releases.flowplayer.org/5.4.1/skin/minimalist.css">