<% provide(:title, "Hire Me" ) %>
<div class="outtie">
  <div class="innie">
    <h1>Hire Me</h1>
    <ul class="users">
      <h2>I want you to hire me, <%= @user.name %>, for this job!</h2><br>
      <patentlisting>
          <%= form_tag @filing, method: :put do %>
            <h3><%= image_tag @filing.picture.url(:mid), class: "gravatar-pat-index" %>
            <%= @filing.filing_title %>
            <%= check_box_tag :lawyer_name, @user.name, id: "radio-sell" %><br></h3>
          <h2><%= submit_tag "Hire Me", class: "btn btn-big btn-primary", id: "sign_btn8" %></h2>
          <% end %>
      </patentlisting>
    </ul>
  </div>
</div>