<% provide(:title, "Edit user") %>
	<div class="outtie">
    <div class="innie">
			<h1>Update Your Profile</h1>
			<div class="tabbable"> <!-- Only required for left/right tabs -->
				<ul class="nav nav-pills">
					<li class="active"><a href="#tab1" data-toggle="tab">Basic User Info</a></li>
  				<% if @user.lawyer == true %>
				  	<li><a href="#tab2" data-toggle="tab">Lawyer Info</a></li>
				  <% end %>
				  <% if @user.biz_law == "business" %>
				  	<li><a href="#tab3" data-toggle="tab">Business Info</a></li>
				  <% end %>
				  <li><a href="#tab4" data-toggle="tab">Extra Info</a></li>			  
				  <li><a href="#tab5" data-toggle="tab">Review</a></li>
				</ul>
	      <div class="tab-content">
	        <div class="tab-pane fade in active" id="tab1">
						<div class="row">
							<div class="span6 offset3">
								<%= form_for(@user, html: { multipart: true}) do |f| %>
						
								<%= render 'shared/error_messages', object: f.object %>
								<%= f.label :name %>
								<%= f.text_field :name %>
							
								<%= f.label :email %>
								<%= f.text_field :email %>
							
								<%= f.label :password %>
								<%= f.password_field :password %>
							
								<%= f.label :password_confirmation, "Confirmation" %>
								<%= f.password_field :password_confirmation %>

								<%= f.label :avatar, "Edit User Image" %>
								<%= image_tag @user.avatar.url(:medium), class: "gravatar-user-edit" %>
								<%= f.file_field :avatar, id: "edit-form" %><br><br>
							</div>
						</div>
					</div>
  				<% if @user.biz_law == "lawyer" %>
						<div class="tab-pane fade in" id="tab2">
							<div class="row">
								<div class="span6 offset3">
									<%= f.label :firm %>
									<%= f.text_field :firm %>
								
									<%= f.label :years_practicing %>
									<%= f.text_field :years_practicing %>
								
									<%= f.label :billable_hours %>
									<%= f.text_field :billable_hours %>

									<%= f.label :firm_site %>
									<%= f.text_field :firm_site, placeholder: "www.myfirmsite.com" %>

									<%= f.label :pat_bar_num %>
									<%= f.text_field :pat_bar_num %>

									<%= f.label :pat_cat, "Do you specialize in a certain patent category?" %>
									<%= f.select(:pat_cat, options_for_select(["Any Kind", "Agricultural", "Apparel", "Arts", "Automotive", "Biological", "Business", "Chemical", "Construction", "Electronic", "Environmental", "Extensions", "Hardware", "International", "Machinery", "Miscellaneous", "Patent", "Structural", "Telecomm"], "Any Kind"), { :prompt => false}, { :single => true, :size => 5 }) %>

									<h5>Are you a Patent Agent, Lawyer, or the firm itself?</h5>
									Agent: <%= f.radio_button :firm_agent_lawyer, "agent", id: "radio-sell" %>
			    				Lawyer: <%= f.radio_button :firm_agent_lawyer, "lawyer", id: "radio-sell" %>
			    				Firm: <%= f.radio_button :firm_agent_lawyer, "firm" %><br><br>
								</div>
							</div>
						</div>
					<% end %>
					<% if @user.biz_law == "business" %>
						<div class="tab-pane fade in" id="tab3">
							<div class="row">
								<div class="span6 offset3">
									<%= f.label :biz %>
									<%= f.text_field :biz %>
								
									<%= f.label :biz_site %>
									<%= f.text_field :biz_site %>
								
									<%= f.label :biz_position %>
									<%= f.password_field :biz_position %><br><br>
								</div>
							</div>
						</div>
					<% end %>
					<div class="tab-pane fade in" id="tab4">
						<div class="row">
							<div class="span6 offset3">
								<h4>Are you a male, female, or super secretive?<br><br></h4>
								<h5>
								Male: <%= f.radio_button :sex, "Male", id: "radio-sell" %>
              	Female: <%= f.radio_button :sex, "Female", id: "radio-sell" %>
              	Undecided <%= f.radio_button :sex, "undefined" %><br><br>
              	</h5>
							</div>
						</div>
					</div>
					<div class="tab-pane fade in" id="tab5">
						<div class="row">
							<div class="span6 offset3">
							<br>
								<h4>Are you sure you have your information setup correctly?<br><br></h4>
								<%= f.submit "Save changes", class: "btn btn-big btn-primary", id: "sign_btn8" %>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>