<% provide(:title, 'All users') %>
	<div class="barney">
		<div class="trouble">
			<h1>All users</h1>

			<%= will_paginate %>

			<ul class="users">
				<% @users.each do |user| %>
				<div class="userborder"></div>
				<li>
						<% for grav in user.grav %>
							<% if grav.content == "" %>
								<%= image_tag('/assets/coolguy.png', alt: "Image Error", class: "gravatar", size: "150x150") %>
							<% else %>
								<%= image_tag(grav.content, alt: "Image Error", class: "gravatar", size: "150x150") %>
							<% end %>
						<% end %>

					<%= link_to user.name, user, id: 'user_index', style: 'color: #000000'%></br>
					<%= link_to "Message User", messages_path, class: "btn btn-small btn-primary", id: "sign_btn5"%>
					<% if current_user.admin? && !current_user?(user) %>
						| <%= link_to "delete", user, method: :delete, confirm: "Are you sure you want to delete this user?" %>
					<% end %>
			
					<div class="userlinks">
						<%= link_sale%></br>
						<%= link_sold%></br>
						<%= link_buy%></div>
				</li>
				<% end %>
			</ul>

			<%= will_paginate %>
		</div>
	</div>