<% provide(:title, 'All users') %>
<h1>All users</h1>

<% will_paginate %>

<ul class="users">
	<% @users.each do |user| %>
		<li>
			<%= gravatar_for user, size: 80, id: 'grav_user' %>
			<%= link_to user.name, user, id: 'user_index', style: 'color: #000000'%>
			<p><%= link_sale%></br>
			<%= link_sold%></br>
			<%= link_buy%></p>
			<li class="divide"></li>
		</li>
	<% end %>
</ul>

<% will_paginate %>