<% provide(:title, 'Sign up') %>
<div class="outtie">
  <div class="innie">
		<h1>Sign up</h1>
		<div class="row">
			<div class="span6 offset3">
				<%= form_for(@user, html: { multipart: true}) do |f| %>
					<%= render 'shared/error_messages', object: f.object %>
					<h5>Name</h5>
					<%= f.text_field :name %>
				
					<h5>Email</h5>
					<%= f.text_field :email %>
				
					<h5>Password</h5>
					<%= f.password_field :password %>
				
					<h5>Confirmation</h5>
					<%= f.password_field :password_confirmation %>
					
					<h5>Upload User Image</h5>
					<%= f.file_field :avatar, id: "upload-form" %>

					<h5>What kind of account is this? You can't change this later.</h5>
					Business: <%= f.radio_button :biz_law, "business", id: "radio-sell" %>
			    Lawyer: <%= f.radio_button :biz_law, "lawyer", id: "radio-sell" %>
			    Average Joe: <%= f.radio_button :biz_law, "user" %><br><br>

					<%= f.submit "Sign Up", class: "btn btn-big btn-primary", id: "sign_btn2" %>
				<% end %>
			</div>
		</div>
	</div>
</div>