<% provide(:title, @user.name) %>
	<div class="barney">
		<div class="trouble">
			<div class="row">
				<div class="span4">
					<section>
						<%= render partial: 'show' %>

						<l1>
							<%= @user.name %>
						</l1>
						<%= link_to "Message User", messages_path, class: "btn btn-small btn-primary", id: "sign_btn4"%>


					</section>
				</div>
				<div class="span6 offset1">
											<% if @user.microposts.any? %>
									<h3>Microposts (<%= @user.microposts.count %>)</h3>
									<ol class="microposts">
										<%= render @microposts %>
									</ol>
									<%= will_paginate @microposts %>
								<% end %>
				</div>
			</div>
			</br></br></br></br></br></br></br></br></br></br></br></br>
		</div>
	</div>
