<% provide(:title, @user.name) %>
	<div class="barney">
		<div class="trouble">
			<div class="row-fluid">
				<div class="span3">
					<section>
						<%= image_tag @user.avatar.url(:medium), class: "gravatar" %>
					</section>
						<%= link_to "Message User", new_user_messenger_path, class: "btn btn-small btn-primary", id: "sign_btn4"%>
				</div>
				<div class="span3">
						<div class="baloo"><%= @user.name %></div>
				</div>
				<div class="span5">
					<% if @user.microposts.any? %>
						<h3>Microposts (<%= @user.microposts.count %>)</h3>
						<ol class="microposts">
							<%= render @microposts %>
						</ol>
						<%= will_paginate @microposts %>
					<% end %>
				</div>
			</div>
			</br></br></br></br></br></br></br></br></br></br></br></br>
		</div>
	</div>
