<% provide(:title, @user.name) %>
	<div class="barney">
		<div class="trouble">
			<div class="row">
				<div class="span5">
					<section>
						<%= image_tag @user.avatar.url(:medium), class: "gravatar" %>

						<baloo>
							<%= @user.name %>
						</baloo>
						<%= link_to "Message User", messages_path, class: "btn btn-small btn-primary", id: "sign_btn4"%>
					</section>
				</div>
				<div class="span5 offset1">
					<% if @user.microposts.any? %>
						<h3>Microposts (<%= @user.microposts.count %>)</h3>
						<ol class="microposts">
							<%= render @microposts %>
						</ol>
						<%= will_paginate @microposts %>
					<% end %>
				</div>
			</div>
			</br></br></br></br></br></br></br></br></br></br></br></br>
		</div>
	</div>
