<% provide(:title, @users.name) %>
<div class="outtie">
  <div class="innie">
		<div class="row-fluid">
			<div class="span3" id="user_info">
				<section>
					<%= image_tag @users.avatar.url(:medium), class: "gravatar-user-show" %>
				</section></br>
          <div class="baloo"><%= @users.name %></div>
          <% if @users == current_user %>
            <%= link_to "Message User", new_user_messenger_path(@users), class: "btn btn-mini btn-primary", id: "sign_btn4"%>
          <% else %>
					  <%= link_to "Message User", new_user_messenger_path(@users), class: "btn btn-mini btn-primary", id: "sign_btn6"%>
          <% end %>
        <%= render 'follow_form' if signed_in? %>
        <% if @users.biz_law == "lawyer" %>
          <div class="hire"><%= link_to "Hire Me", hire_you_path, class: "btn btn-large btn-primary", id: "hire-btn" %></div>
        <% end %>
        <%= render 'shared/stats' %>
        <h5>
          <% if @users.biz_law == "user" %>
            <h2><br>About:<br></h2>
            &nbsp;Gender:<br><br><tabs><%= @users.sex %></tabs><br><br>
            &nbsp;Patents sold on Patentflip:<br><br><tabs><%= @users.pat_sold %></tabs><br><br>
          <% end %>
        </h5>
			</div>
      <div class="spanshow">
        <% if @users.biz_law == "lawyer" %>
          <div class="span7">
            <h3>Job's I've worked:
            <div class="userborder"/></h3>
            <% @job_count = 0 %>
            <patentlisting>
              <%= render partial: "show_jobs" %>
            </patentlisting>
            <loading>
              <%= will_paginate(@filings) %>
            </loading>
		      </div>
          <div class="span5">
            <h3>About:<br>
            <div class="userborder"/></h3>
            <% if ((@users.firm_site.nil?) && (@users.billable_hours.nil?) && (@users.years_practicing.nil?) && (@users.pat_bar_num.nil?) && (@users.pat_cat.nil?)) %>
              <h2>I haven't updated my information yet!</h2>
            <% else %>
              <% unless @users.firm_site.nil? %>
                &nbsp;<h8>Firm:</h8><br><tabs><h4><%= link_to @users.firm, "https://#{@users.firm_site}", target: "_blank" %></h4></tabs><br>
              <% end %>
              <% unless @users.billable_hours.nil? %>
                &nbsp;<h8>Average Billable Hours:</h8><br><tabs><h4>$<%= @users.billable_hours %>/hr</h4></tabs><br>
              <% end %>
              <% unless @users.firm_agent_lawyer == "firm" %>
                <% unless @users.years_practicing.nil? %>
                  &nbsp;<h8>Years Practicing:</h8><br><tabs><h4><%= @users.years_practicing %></h4></tabs><br>
                <% end %>
                <% unless @users.pat_bar_num.nil? %>
                  &nbsp;<h8>Bar #:</h8><br><tabs><h4><%= @users.pat_bar_num %></h4></tabs><br>
                <% end %>
              <% end %>
              <% if @users.pat_cat == "Any Kind" %>
                &nbsp;<h8>Patents Specializing In: </h8><br><tabs><h4><%= link_to @users.pat_cat, auctions_path %></h4></tabs><br>
              <% elsif @users.pat_cat == ("Agricultural" || "Apparel" || "Arts" || "Automotive" || "Biological" || "Business" || "Chemical" || "Construction" || "Electronic" || "Environmental" || "Extensions" || "Hardware" || "International" || "Machinery" || "Miscellaneous" || "Patent" || "Structural" || "Telecomm") %>
                &nbsp;<h8>Patents Specializing In: </h8><br><tabs><h4><%= link_to @users.pat_cat, "/categories/#{@users.pat_cat}" %></h4></tabs><br>
              <% else %>
              <% end %><br><br>
            <% end %>
          </div>
        <% elsif @users.biz_law == "business" %>
          <div class="span7">
            <h3>Patents We've Bought:</h3>
            <% @buy_count = 0 %>
            <patentlisting>
              <%= render partial: "buy_patents" %>
            </patentlisting>
            <loading>
              <%= will_paginate(@auctions) %>
            </loading>
          </div>
          <div class="span5">            
            <% unless @users.biz_site == "" %>
              &nbsp;Business: <br><tabs><%= link_to @users.biz, "https://#{@users.biz_site}", target: "_blank" %></tabs><br><br>
            <% end %>
            <% unless @users.biz_position == "" %>
              &nbsp;Business Position: <br><tabs>$<%= @users.biz_position %></tabs><br><br>
            <% end %>
            <% #render personal description (If a firm, the firms description with a group of firms users pages with avatars) %>
          </div>
        <% else %>
          <div class="span5">
            <% if @users.microposts.any? %>
              <h3>I'm working on...</h3>
              <ol class="microposts-list">
                <%= render "microposts/micro_listing" %>
                <div class="userborder"></div>
              </ol>
              <loading>
                <%= will_paginate(@microposts) %>
              </loading>
            <% else %>
              <h3>No posts from <%=@users.name%>...yet!</h3>
            <% end %>
          </div>
          <div class="span7">
            <% @auction_count = 0 %>
            <patentlisting>
              <h3>Recent Patent Listings:</h3>
              <%= render partial: "show_patents" %>
            </patentlisting>
            <loading>
              <%= will_paginate(@auctions) %>
            </loading>
          </div>
        <% end %>
      </div>
		</br></br></br></br></br></br></br></br></br></br></br></br>
	  </div>
  </div>
</div>