<a href="<%= user_path(current_user) %>">
<% if @user.avatar.url(:medium) == "/assets/coolguy_medium.png" %>
  <%= image_tag @user.avatar.url(:medium), class: "gravatar-home" %>
<% else %>
  <%= image_tag "https//#{@user.avatar.url(:medium)}", class: "gravatar-home" %>
<% end %>
</a>
<h1></br>
	<%= link_to current_user.name, current_user, class: 'miname' %>
</h1>
<span>
	<%= pluralize(current_user.microposts.count, "micropost") %>
</span>