<% provide(:title, 'Show Filing Job') %>
  </br></br></br>
<h6>Job: <%=@filing.filing_title%></h6><br>
<h8>Filed by: <%= @users.name %></h8>

  <div class="outtie">
    <div class="inner">
      <listingblurb>
        <% if @users == current_user %>
          <%= link_to "Edit Patent Listing", edit_auction_path %><br>
        <% end %>
        <h4>Category:</h4>
        <h2><%= link_to @filing.job_category, "/categories/#{@filing.job_category}" %></h2>
        </br>
        <%= image_tag @users.avatar.url(:thumb), class: "gravatar-patent" %>
        </br></br> 
        <h4>Job By:</h4>
        <h2><%= link_to @users.name, @users %></h2>
      </listingblurb>
      
      <listingfeed> 
        <div class="outtie">
          <div class="inner">
            <floop>
            <% if (@filing.picture.url(:mid) == "/picture/mid/missing.png") %>
            <% else %>
              <div id="this-carousel-id" class="carousel slide">
                <ol class="carousel-indicators">
                  <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
                </ol>
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="<%= @filing.picture.url(:mid) %>"/>
                    <div class="carousel-caption">
                      <p>Job Picture</p>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </floop>
          </div>
        </div></br>
        <h2><%=@filing.filing_title%>'s description:</h2></br>
        <h5> <%=@filing.job_descrip%> </h5></br>
      </listingfeed>
    </div>
  </div>

  <script type="text/javascript">
    $(document).ready(function() {
      $('.carousel').carousel({
        interval: 10000
      });
    });
  </script>