<<<<<<< HEAD
<%=form_tag delete_selected_user_messengers_path(@user, :method => :post) do %>
<div class='spaninnie'>
  <div class="mess-outtie">
    <div class="innie-message">
      <h6>Inbox</h6>
    	<% if messen.size == 0 %>
        <tr>
          <td colspan="4">
            </br><h8>Your inbox is empty, you should start talking to more people</h8>
          </td>
        </tr>
      <% else %>
        <messmini>
    		  <th>Delete?</th>
            <% for messenger in @messengers %>
              <tr>
                </br><td>&nbsp&nbsp&nbsp&nbsp<%= check_box_tag "delete[]", messenger.id %></td>
              </tr>
            <% end %>
        </messmini>
        
        <messmini>
    		  <th>Message</th>
          <% for messenger in @messengers %>
            <tr>
              </br><td>
                <% if messenger.message_read? %>
                  <%= link_to h(messenger.body)[0..9], user_messenger_path(@user, messenger) %>
                <% else %>
                  <%= link_to "#{h(messenger.body)[0..9]} (unread)", user_messenger_path(@user, messenger) %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </messmini>

        <messmini>
    		  <th>Sender</th>
            <% for messenger in @messengers %>
              <tr>
                </br><td>
                  <%= link_to h(messenger.sender.name), user_path(messenger.sender) %>
                </td>
              </tr>
            <% end %>
        </messmini>

        <messmini>
          <th>Sent At</th>
            <% for messenger in @messengers %>
  		        <tr>
  				      </br><td>
                  <%= h messenger.created_at.strftime("%b %d %Y   %I:%M:%S %p") %>
                </td>
  		        </tr>
  		      <% end %>
        </messmini>
      			
      	<%= submit_tag "Delete", class: "btn btn-small btn-primary", id: "sign_btn10" %>	
      <% end %>
      </br>
      </br></br><messmini>
        <%= link_to "Sent Folder", user_messengers_path(@user, :mailbox => :sent) %>
      </messmini>
    </div>
  </div>
</div>
=======
<% if @feed_items.any? %>
  <h3>Inbox</h3>
  <ol class="inbox">
    <%= render partial: 'feed_item', collection: @feed_items %>
    </ol>
  <%= will_paginate @feed_items %>
>>>>>>> 5dfd98770cdc1068ec21ccd5e94eedf6c5af489e
<% end %>