<h2>Inbox</h2>
<table>
	<tr>
		<th>Del?</th>
		<th>Sent</th>
		<th>Sender</th>
		<th>Sent</th>
	</tr>
	<% if @messengers.size == 0 %>
		<tr>
			<td colspan="4">
				No messages
			</td>
		</tr>
	<% else %>
		<% for messenger in @messengers %>
			<tr>
				<td><%= check_box_tag "delete[]", messenger.id %></td>
				<td>
					<% if messenger.message_read? %>
					  <%= link_to h(messenger.subject), user_messenger_path(@user, messenger) %>
					<% else %>
					  <%= link_to "#{h(messenger.subject)} (unread)", user_messenger_path(@user, messenger) %>
					<% end %>
				</td>
				<td><%= link_to h(messenger.sender.login), user_path(messenger.sender) %></td>
		    <td><%=h messenger.created_at.to_s(:long) %></td>
			</tr>
		<% end %>
		<tr>
			<td colspan="4">
				<%= submit_tag "Delete" %>
			</td>
		</tr>
	<% end %>
</table>
<%= link_to "Sent", user_messengers_path(@user, :mailbox => :sent)%> |
<%= link_to "Compose", new_user_messenger_path(@user)%>
