<%=form_tag delete_selected_user_messengers_path(@user, :method => :post) do %>
  <div class='spaninnie'>
    <div class="mess-outtie">
      <div class="innie-message">
        <div class="tabbable tabs-below"> <!-- Only required for left/right tabs -->
          <div class="tab-content">
            <div class="tab-pane fade in active" id="tab1">
            <h6>Inbox</h6>
          	<% if messen.size == 0 %>
              <tr>
                <td colspan="4">
                  </br><h8>Your inbox is empty, you should start talking to more people</h8>
                </td>
              </tr>
            <% else %>
              <messmini>
          		  <th>Delete?</th>
                  <% for messenger in @user.received_messages %>
                    <tr>
                      </br><td>&nbsp &nbsp &nbsp &nbsp <%= check_box_tag "delete[]", messenger.id %></td>
                    </tr>
                  <% end %>
              </messmini>
              
              <messmini>
          		  <th>Message</th>
                <% for messenger in @user.received_messages %>
                  <tr>
                    </br><td>
                      <% if messenger.message_read? %>
                        <%= link_to h(messenger.body)[0..9], user_messenger_path(@user, messenger) %>
                      <% else %>
                        <%= link_to "#{h(messenger.body)[0..9]} (unread)", user_messenger_path(@user, messenger) %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </messmini>

              <messmini>
          		  <th>Sender</th>
                  <% for messenger in @user.received_messages %>
                    <tr>
                      </br><td>
                        <%= link_to h(messenger.sender.name), user_path(messenger.sender) %>
                      </td>
                    </tr>
                  <% end %>
              </messmini>

              <messmini>
                <th>Sent At</th>
                  <% for messenger in @user.received_messages %>
        		        <tr>
        				      </br><td>
                        <%= h messenger.created_at.strftime("%b %d %Y   %I:%M:%S %p") %>
                      </td>
        		        </tr>
        		      <% end %>
              </messmini>
              <%= submit_tag "Delete", class: "btn btn-small btn-primary", id: "sign_btn10" %>  <% end %>
            </div>
            <div class="tab-pane fade in" id="tab2">
              <h6>Sent</h6>
          <% if @user.sent_messages.size == 0 %>
            <tr>
              <td colspan="4">
                </br><h8>No Messages Sent</h8>
              </td>
            </tr>
          <% else %>
            <messmini>
              <th>Delete?</th>
                <% for messenger in @user.sent_messages %>
                  <tr>
                    </br><td>&nbsp&nbsp&nbsp&nbsp<%= check_box_tag "delete[]", messenger.id %></td>
                  </tr>
                <% end %>
            </messmini>
            
            <messmini>
              <th>Message</th>
              <% for messenger in @user.sent_messages %>
                <tr>
                  </br><td>
                    <% if messenger.message_read? %>
                      <%= link_to h(messenger.body)[0..9], user_messenger_path(@user, messenger) %>
                    <% else %>
                      <%= link_to "#{h(messenger.body)[0..9]} (unread)", user_messenger_path(@user, messenger) %>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </messmini>

            <messmini>
              <th>To</th>
                <% for messenger in @user.sent_messages %>
                  <tr>
                    </br><td>
                      <%= link_to h(messenger.recipient.name), user_path(messenger.recipient) %>
                    </td>
                  </tr>
                <% end %>
            </messmini>

            <messmini>
              <th>Sent At</th>
                <% for messenger in @user.sent_messages %>
                  <tr>
                    </br><td>
                      <%= h messenger.created_at.strftime("%b %d %Y   %I:%M:%S %p") %>
                    </td>
                  </tr>
                <% end %>
            </messmini>
            	<%= submit_tag "Delete", class: "btn btn-small btn-primary", id: "sign_btn10" %>
            <% end %>
          </div>

          <ul class="nav nav-pills">
            <li class="active"><a href="#tab1" data-toggle="tab" id="tab-pills-active">Inbox</a></li>
              <li><a href="#tab2" data-toggle="tab" id="tab-pills-tab">Sent Folder</a></li>
          </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>