<div class='span6 offset3'> 
  <div class="barney">
    <div class="trouble">   
      New Message Test
      <%= form_for @messenger, url: user_messengers_path(@user) do |f| %>
        <p>
          From:<br />
          <%= current_user.name %>
        </p>
        <p>
          To:<br />
            <%= @user.name %>
        </p>
        <p>
          Subject:<br />
          <%= f.text_field :subject %>
          </p>
          <p>
            Message<br />
            <%= f.text_area :body, id: 'pussy' %>
          </p>
          <p>
            <%= submit_tag "Send" %>
          </p>
      <% end %>
    </div>
  </div>
</div>