<div class='span10 offset1'> 
  <div class="outtie">
    <div class="innie">
      <%= form_for @messenger, url: user_messengers_path(@user) do |f| %>
        <h5> 
          From:</h5>
          <div class='span12 offset1'> 
        <h4>
          <%= current_user.name %>
        </h4>
          </div>
        <h5>
          To:</h5>
          <div class='span12 offset1'>
            <h4>
              <% if @reply_name == 'r' %>
                <%= @reply_to.sender.name %>
              <% elsif @reply_name == 'n' %>
                <%= @user.name %>
              <% end %>
            </h4>
          </div>
          <p>
            Message</br>
            <%= f.text_area :body, id: 'my-form' %>
          </p>
          <p>
            <%= submit_tag "Send" %>
          </p>
      <% end %>
    </div>
  </div>
</div>