<<<<<<< HEAD
<div class='span12'> 
  <div class="outtie">
    <div class="innie-message">
=======
<div class='span10 offset1'> 
  <div class="outtie">
    <div class="innie">
>>>>>>> 5dfd98770cdc1068ec21ccd5e94eedf6c5af489e
      <%= form_for @messenger, url: user_messengers_path(@user) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
        <h5> 
          From:</h5>
          <div class='span12 offset1'> 
        <h4>
<<<<<<< HEAD
          <%= image_tag current_user.avatar.url(:micro), class: "gravatar-message-show" %>
=======
>>>>>>> 5dfd98770cdc1068ec21ccd5e94eedf6c5af489e
          <%= current_user.name %>
        </h4>
          </div>
        <h5>
          To:</h5>
          <div class='span12 offset1'>
            <h4>
              <% if @reply_name == 'r' %>
<<<<<<< HEAD
                <%= image_tag @reply_to.sender.avatar.url(:micro), class: "gravatar-message-show" %>
                <%= @reply_to.sender.name %>
              <% elsif @reply_name == 'n' %>
                <%= image_tag @user.avatar.url(:micro), class: "gravatar-message-show" %>
=======
                <%= @reply_to.sender.name %>
              <% elsif @reply_name == 'n' %>
>>>>>>> 5dfd98770cdc1068ec21ccd5e94eedf6c5af489e
                <%= @user.name %>
              <% end %>
            </h4>
          </div>
          <p>
            Message</br>
            <%= f.text_area :body, id: 'my-form' %>
          </p>
          <h4>Add an optional file to send.</br>
                <%= f.file_field :message_attach, id: "upload-form"  %></h4>
          <p>
            <%= submit_tag "Send" %>
          </p>
      <% end %>
    </div>
  </div>
</div>