<div class='span6 offset3'>
  <div class="outtie">
    <div class="innie-message">  
      <p><strong>From:</strong> <%= link_to((image_tag @messenger.sender.avatar.url(:micro), class: "gravatar-message-show"), user_path(@messenger.sender)) %> <%= @messenger.sender == @user ? link_to("Me", user_path(@user)) : link_to(h(@messenger.sender.name), user_path(@messenger.sender)) %></p>
      <p><strong>To:</strong> <%= link_to((image_tag @messenger.recipient.avatar.url(:micro), class: "gravatar-message-show"), user_path(@messenger.recipient)) %> <%= @messenger.recipient == @user ? link_to("Me", user_path(@user)) : link_to(h(@user.name), user_path(@messenger.recipient)) %></p>
      <p><strong>Received:</strong> <%= @messenger.created_at.strftime("%b %d %Y   %I:%M:%S %p") %></p>
      <p>
        <strong>Message:</strong><br></p>
      <h4>
        &nbsp; &nbsp; &nbsp; &nbsp;<%=h @messenger.body %>
      </h4>
      <% if @messenger.message_attach.url != "/message_attaches/original/missing.png" %>
        <% if (@messenger.message_attach.content_type == "application/pdf") %>
         <h2><%= link_to "[--View PDF--]", @messenger.message_attach.url, :target => '_blank' %></h2>
        <% else %>
          <img src="<%= @messenger.message_attach.url %>"/>
          <h2><%= link_to "[--View Full Sized--]", @messenger.message_attach.url, :target => '_blank' %></h2>
        <% end %>
      <% end %>
      <p>
        <% if @messenger.recipient == @user %>
          <% store_user %>
      	  <%= link_to "Reply", new_user_messenger_path(@user, :reply_to => @messenger) %> |
        <% end %>
        <%= link_to "Inbox", user_messengers_path(@user)%>
      </p>
    </div>
  </div>
</div>