<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "PATKET", home_path, id: "logo" %>
      <nav>

      	<form class="navbar-search">
      		<div class="span3">
  				<input type="text" class="search-query" placeholder="Search"> </div>
				</form>
				
				<ul class="nav pull-right">
		  		<% if signed_in? %>
     				<li class="divider-vertical"></li>
		  			<li><%= link_to "List Patent", new_auction_path, id: "home_css" %></li>
     				<li class="divider-vertical"></li>
		  			<li><%= link_to "Me", current_user, id: "home_css" %></li>
     				<li class="divider-vertical"></li>
		  			<li><%= link_to "Help", help_path, id: "help_css" %></li>
   					<li class="divider-vertical"></li>
		  			<li><%= link_to "Uncover A Patent", users_path, id: "users_css" %></li>
   					<li class="divider-vertical"></li>
						<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="200">
								Account
							</a>
							<ul class="dropdown-menu">

								<li><%= link_to "Profile", current_user %></li>
								<li><%= link_to "Settings", edit_user_path(current_user) %></li>
								<li class="divider"></li>
								<li>
									<%= link_to "Sign out", signout_path, method: "delete", id: "delete_css" %>
								</li>
							</ul>
						</li>
						<li class="divider-vertical"></li>
		  			<li><%= link_to "FAQ's", faq_path%></li>
					<% else %>
			      <li class="divider-vertical"></li>
						<li><%= link_to "Home", home_path, id: "home_css" %></li>

      			<li class="divider-vertical"></li>
		  		  <li><%= link_to "Help", help_path, id: "help_css" %></li>
		 				
		 				<li class="divider-vertical"></li>
		 				<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="200">
								Sign In
							</a>
							<ul class="dropdown-menu">
								<div class="span4">
									<div class="tempshit">
									<%= form_for(:session, url: sessions_path) do |f| %>
										<%= f.label :email %>
										<%= f.text_field :email %>
										<%= f.label :password %>
										<%= f.password_field :password %>
										<%= f.submit "Sign in", class: "btn btn-small btn-primary" %>
									<% end %>
								</div>
								</div>
							</ul>
						</li>
						<li class="divider-vertical"></li>
		  			<li><%= link_to "FAQ's", faq_path%></li>
						<li class="divider-vertical"></li>
		 			<% end %>
				</ul>
	  	</nav>
		</div>
  </div>
  <script src="/assets/application.js"></script>
<script type="text/javascript">$('.dropdown-toggle').dropdownHover();</script>
</header>