<header class="navbar navbar-static-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to image_tag("/assets/Patent_Lettering.png", id: "logo"), root_path %>
      <nav>

      	<form class="navbar-search">
          <div class="span2">
          <%= form_for (users_path || auctions_path || lawyers_path), :method => 'get' do %>
        <p>
          <%= text_field_tag :search, params[:search], class: "search-query", placeholder: "Search" %>
        </p>
      <% end %>
      	</div>
        </form>

		<ul class="nav pull-right">
		  <% if signed_in? %>
            <li class="divider-vertical"></li>
            <% if current_user.unread_messages? %>
              <% if current_user.unread_message_count == 1 %>
	              <li id="fat-menu" class="dropdown">
	              <a href="<%= user_messengers_path(current_user) %>" class="dropdown-toggle" data-hover="dropdown" data-delay="200"> <%= image_tag("/assets/messages_icon.png", id: "message_icon_open") %><br>1 New Message</a>
	              <ul class="dropdown-menu">
					<li><%= render 'messengers/inboxer' %></li>
				  </ul>
				  </li>
              <% else %>
              	<li id="fat-menu" class="dropdown">
                <a href="<%= user_messengers_path(current_user) %>" class="dropdown-toggle" data-hover="dropdown" data-delay="200"> <%= image_tag("/assets/messages_icon.png", id: "message_icon_open_multi") %><br>New Messages</a>
                <ul class="dropdown-menu">
					<li><%= render 'messengers/inboxer' %></li>
				</ul>
              <% end %>
              </li>
            <% else %>
              <li id="fat-menu" class="dropdown">            
                <a href="<%= user_messengers_path(current_user) %>"  class="dropdown-toggle" data-hover="dropdown" data-delay="200"><%= image_tag("/assets/messages_closed_icon.png", id: "message_icon") %><br>No New Messages</a>             
              <ul class="dropdown-menu">
					<li><%= render 'messengers/inboxer' %></li>
				  </ul>
				  </li>          
            <% end %>
     				<li class="divider-vertical"></li>
            <li>
                <a href="<%= lawyers_path %>" title="Find A Patent Lawyer!"><%= image_tag("/assets/lawyer_icon.png", id: "lawyer_icon") %><br>Find A Lawyer</a>
            </li>
            
            <li class="divider-vertical"></li>
		  	<li>
              <a href="<%= new_auction_path %>" title="Let's flip your patent on the marketplace!"><%= image_tag("/assets/pat_add_icon.png", id: "patent_icon") %><br>Flip A Patent</a>
            </li>
     				
            <li class="divider-vertical"></li>
		  			<li>
              <a href="<%= auctions_path %>" title="Look at the patents on the marketplace!"><%= image_tag("/assets/pat_find_icon.png", id: "patent_icon_find") %><br>All Patents</a>
            </li>
   					
            <li class="divider-vertical"></li>
						
            <li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="200">
								<%= image_tag("/assets/settings_icon.png", id: "settings_icon") %><br>Options
							</a>
							<ul class="dropdown-menus">

								<li><%= link_to "Me", current_user %></li>
                				<li><%= link_to "Help", help_path %></li>
								<li><%= link_to "Edit Profile", edit_user_path(current_user) %></li>
								<li class="divider"></li>
								<li>
									<%= link_to "Sign out", signout_path, method: "delete", id: "delete_css" %>
								</li>
							</ul>
						</li>
						<li class="divider-vertical"></li>
					<% else %>
			      <li class="divider-vertical"></li>
						<li><%= link_to "Home", root_path, id: "home_css" %></li>

      			<li class="divider-vertical"></li>
		  		  <li><%= link_to "Help", help_path, id: "help_css" %></li>
		 				
		 				<li class="divider-vertical"></li>
		 				<li id="fat-menu" class="dropdown">
							<a href="#" class="dropdown-toggle" data-hover="dropdown" data-delay="200">
								Sign In
							</a>
							<ul class="dropdown-menus">
								<div class="span4">
									<div class="tempstuff">
									<%= form_for(:session, url: sessions_path) do |f| %>
										<%= f.label :email %>
										<%= f.text_field :email %>
										<%= f.label :password %>
										<%= f.password_field :password %>
										<%= f.submit "Sign in", class: "btn btn-small btn-primary" %>
									<% end %>
								</div>
								</div>
							</ul>
						</li>
						<li class="divider-vertical"></li>
		  			<li><%= link_to "FAQ's", faq_path%></li>
						<li class="divider-vertical"></li>
		 			<% end %>
				</ul>
	  	</nav>
		</div>
  </div>
  <script>
  $(function() {
    $( document ).tooltip();
  });</script>
<script type="text/javascript">$('.dropdown-toggle').dropdownHover();</script>
</header>