<ul class="nav nav-list">
	<div class="outtie">
    <div class="innie">
      <ul class="nav nav-list">
        <h3><li class="nav-header">Categories</li></h3>
        <li class="active" id="sidebar-list-active"><%= link_to "Agricultural", '/categories/Agricultural' %></li>
        <li><%= link_to "Apparel", '/categories/Apparel',  id: "sidebar-list" %></li>
        <li><%= link_to "Arts", '/categories/Arts',  id: "sidebar-list" %></li>
        <li><%= link_to "Automotive", '/categories/Automotive',  id: "sidebar-list" %></li>
        <li><%= link_to "Biological", '/categories/Biological',  id: "sidebar-list" %></li>
        <li><%= link_to "Business", '/categories/Business',  id: "sidebar-list" %></li>
        <li><%= link_to "Chemical", '/categories/Chemical',  id: "sidebar-list" %></li>
        <li><%= link_to "Construction", '/categories/Construction',  id: "sidebar-list" %></li>
        <li><%= link_to "Electronic", '/categories/Electronic',  id: "sidebar-list" %></li>
        <li><%= link_to "Environmental", '/categories/Environmental',  id: "sidebar-list" %></li>
        <li><%= link_to "Hardware", '/categories/Hardware',  id: "sidebar-list" %></li>
        <li><%= link_to "Machinery", '/categories/Machinery',  id: "sidebar-list" %></li>
        <li><%= link_to "Patent Pending", '/categories/PatentPending',  id: "sidebar-list" %></li>
        <li><%= link_to "Structural", '/categories/Structural',  id: "sidebar-list" %></li>
        <li><%= link_to "Telecomm", '/categories/Telecomm',  id: "sidebar-list" %></li>
        <li class="divider"></li>
        <li><%= link_to "International", '/categories/International',  id: "sidebar-list" %></li>
        <li><%= link_to "Miscellaneous", '/categories/Miscellaneous',  id: "sidebar-list" %></li>
      </ul>
    </div>
  </div>
</ul>