<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="/assets/Patent_Flip_Photo.png"></link>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
    <%= render partial: 'shared/scripts' %>
  </head>
  <body> 
  	<%= render 'layouts/header' %>
  	<div class="container-fluid">
      <div class="row-fluid">
        <% if signed_in? %>
          <div class="span2">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="span78">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        <% else %>
          <div class="span10 offset1">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
  <%= render 'layouts/footer' %>
</html>