<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="Patent_Flip_Photo.png"/>
    <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <%= render 'layouts/footer' %>
  	<div class="container-fluid">
      <div class="row-fluid">
        <% if ((params[:controller] == 'auctions' && params[:action] == 'new') || (params[:controller] == 'home' && signed_in_user?)) %>
          <div class="span10 offset1">
            <% flash.each do |key, value| %>
              <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        <% else %>
          <div class="span2">
            <%= render 'layouts/sidebar' %>
          </div>
          <div class="span8 offset1">
            <% flash.each do |key, value| %>
            <div class="alert alert-<%= key %>"><%= value %></div>
            <% end %>
            <%= yield %>
          </div>
        <% end %>
       </div>
    </div>
  </body>
</html>