<!DOCTYPE html>
<html>
  <head>
    <link rel="shortcut icon" href="http://i992.photobucket.com/albums/af42/webtreatsetc/Alphanumeric%20Media%20Symbols%20Shapes%20Signs%20Arrows/069353-blue-chrome-rain-icon-alphanumeric-information2-ps.png"/>
    <title><%= full_title(yield(:title)) %></title>
      <%= stylesheet_link_tag "application", media: "all" %>
      <%= javascript_include_tag "application" %>
      <%= csrf_meta_tags %>
      <%= render 'layouts/shim' %>
  </head>
  <body>
  	<%= render 'layouts/header' %>
    <%= render 'layouts/footer' %>
  	<div class="container-fluid">
      <div class="row-fluid">
        <div class="span2">
          <%= render 'layouts/sidebar' %>
        </div>
        <div class="span10">
          <% flash.each do |key, value| %>
          <div class="alert alert-<%= key %>"><%= value %></div>
          <% end %>
          <%= yield %>
        </div>
       </div>
    </div>
  </body>
</html>